{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <title>Vote</title>
</head>
<body>
    <p>YOOOO</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <button class="btn btn-outline-info">
                    <h2>PICTURE 1</h2>
                </button>
                <img src="{%static 'vote/images/cat.jpg' %}" alt="PICTURE OF CAT">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <button class="btn btn-outline-info">
                    <h2>PICTURE 2</h2> 
                </button>
                <img src="{% static 'vote/images/dog.jpg' %}" alt="PICTURE OF DOG">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <h1>{{ image.image_name }}  | {{ image.upvotes }} | {{ image.downvotes }} | score:  {{ image.score }}</h1><br>
            </div>
            <h1>{{ comment.body }}</h1>
        </div>
        <div class="row">
            <form action="{% url 'image_upvote' image.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-warning">UPVOTE</button>
            </form><br>

            <form action="{% url 'image_delete' image.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-warning">IMAGE DELETE</button>
            </form><br>

            <form action="{% url 'comment_delete' comment.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-warning">COMMENT DELETE</button>
            </form><br>




        </div>
    </div>
</body>
</html>
