<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        TEST RETRIEVAL FROM API
    </h1>
    {% for item in all_forums %}
    <h1> {{ item }}</h1>
    <h1> {{ item.slug }}</h1>
    <h1> {{ item.created_at }}</h1>
    <h1> {{ item.updated_at }}</h1>
    <h1> {{ item.timesince }}</h1>
    <h1> {{ item.date_display }}</h1>
    {% endfor %}
</body>
</html>
