{% extends "layout.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block body %}
<div>
    <h1>
        Volunteering for {{ current_job.title }} in {{ current_job.location }}
    </h1>
    <form method="post" id="volunteer-form">
        {% csrf_token %}
        {{ form | crispy  }}
        <button class="btn btn-success" >Submit</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'volunteer/jquery_job.js' %}"></script>
{% endblock %}
