{% extends 'layout.html' %}

{% load staticfiles %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'maps/css/directions_style.css' %}">
{% endblock %}

{% block body %}
<section id="white">
    <div class="container" >
        <div class="row">
            <div class="col">
                <button class="btn " id="floatR">
                    <a href="{% url 'locations:home' %}">REFRESH MAP</a>
                </button>
            </div>
        </div>
        <div id="floating-panel">
            <input class="form-control" type="text" name="start" id="start" placeholder="start point">
            <select name="end" id="end" class="form-control ">
                {% for place in locations %}
                <option value="{{ place }} ">{{ place }}</option>
                {% endfor %}
            </select>
            <button id="get-route" class="btn btn-info">Get Route</button>
        </div>
        <div id="right-panel"></div>
        <div id="map"></div>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqau3bClOAWzm_pS8qhlVBtDAbFHrzSCQ&callback=initMap">
        </script>
    </div>    
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'maps/js/directions.js' %}"></script>
{% endblock %}
