{% extends 'layout.html' %}

{% load staticfiles %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'maps/css/park_style.css' %}">
{% endblock %}
{% block body %}
<div>
    <div id="map_section">
        <div id="map"></div>
    </div>
    <div class="row">
        <div id="bottom-panel"></div>
    </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqau3bClOAWzm_pS8qhlVBtDAbFHrzSCQ&callback=initMap">
    </script>
</div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'maps/js/park_locations.js' %}"></script>
{% endblock %}


