{% extends 'layout.html' %}

{% load crispy_forms_tags %}

{% block body %}

<h1>FORUM: {{ object.slug }}</h1>
{% if object.topic_set.all.count < 1 %}
    <div >
        <h1>Be the first to create a topic in {{ object.slug | upper }}</h1>
        <form action="{% url 'messageboard:topic_create' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="forum_slug" value="{{ object.slug }}">
                {{ topic_form | crispy}}
            <button class="btn btn-success">ADD TOPIC</button>
        </form>
    </div>
{% else %}
    <table class="table table-success table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>TOPICS</th>
                <th>CREATED</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in object.topic_set.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'messageboard:topic_detail' object.slug topic.id topic.slug %}">{{ topic.title | upper }}</a>

                </td>
                <td>{{ topic.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr><br>
    <div>
        <h4>ADD TOPIC</h4>
        <form action="{% url 'messageboard:topic_create' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="forum_slug" value="{{ object.slug }}">
                {{ topic_form | crispy}}
            <button class="btn btn-success">ADD TOPIC</button>
        </form>
    </div>
{% endif %}

{% endblock %}
