{% extends 'layout.html' %}

{% load staticfiles %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'messageboard/style.css' %}">
{% endblock %}

{% block body %}
<div>

    <div class="row">
        <h1>test links</h1>
        {% if user.is_authenticated %}
            <a href="/accounts/logout/">
                <h5>Logout Until Next Time</h5>
            </a>
        {% else %}
            <a href="/accounts/signup/">
                <h5>Sign Up/In to Communicate With Other Pet Lovers!</h5>
            </a>
        {% endif %}
        <br>
        {% if user.is_authenticated %}
        <a href="/accounts/logout/">logout</a>
    {% else %}
        <a href="/accounts/signup/">login</a>
    {% endif %}
    </div>
    <div class="row">
        <div class="col-6" id="forum_box">
            <div>
            {% for obj in object_list %}
            <div class="row" id="marginL">

                <h3><a href="{{ obj.get_absolute_url }}">{{ obj.slug }}</a></h3>
                <p>Related Topics: {{ obj.topic_set.all.count }}</p> <br>

                {% if user in obj.moderators.all %}
                    <form action="{% url 'messageboard:forum_delete' obj.slug %}" id="floatR">
                        <button class="btn btn-danger">DELETE</button>
                    </form>
                {% endif %}
            </div><hr>
                {% empty %}
                <p>No forums have been created yet</p>
            {% endfor %}
            </div>
        </div>

        <div class="col-1"></div>
        
        <div class="col-3">
            <div class="row" >
                <div class="jumbotron" id="forum_list_optional">
                    <form action="{% url 'messageboard:forum_list' %}" method="get" class="form">
                        {% csrf_token %}
                        <div class="form-set">
                            <label for="q">SEARCH ALL FORUMS</label>
                            <input type="text" name="q" placeholder="forum keywords" value="{{ request.GET.q }}">
                        </div><br>
                        <button class="btn btn-large btn-outline-info">SEARCH FORUMS</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="jumbotron" id="forum_list_optional">
                    <br><br><button class="btn btn-large btn-outline-info">
                        <a href="{% url 'messageboard:forum_create' %}">
                            CREATE NEW FORUM
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
