{% extends 'layout.html' %}

{% block extra_style %}
    <style>
        div.comment-item {
            border: 1px solid #000000;
            padding: 0em 2em;
        }
    </style>
{% endblock %}

{% block body %}
    <section>
        <div class="comment-item">
            <h3>{{ object.body }}</h3>
            <p>
                submitted {{ topic.created_at|naturaltime }} by <a href="{% url 'user_profile' object.user.username %}">{{ object.user }}</a>
                {{ object.updated_at|naturaltime }}
            </p>
        </div>
    </section>
{% endblock %}
