#main{
    height:350;
    background-color: white;
    padding: 10 0 10 0;
    border-bottom: 5px ridge rgb(250, 216, 62);
}
#tall{
    height:100%;
}
#card_img{
    height:50px;
}
.card-text{
    text-decoration: underline;
}
.card form {
    display: inline-block;
}
.carousel-item img{
    height: 100%;
}
#body_div{
    width:50%;
}
#green_border{
    border: 25px green solid;
}
#red{
    color:red;
}
#ears{
    width:80%;
    height:50%;
}
#white{
    background-color:white;
    align-content: center;
    text-align: center;
    align-items: center;
}
#center{
    align-content: center;
    justify-content: center;
}
.marginB{
    margin-bottom:15px;
}
